.containerUl {
  width: 100vw;
  height: 80px;
  //   background-color: rgb(77, 77, 77);

  z-index: 100;

  position: fixed;
  bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(46, 46, 46, 0.946);
    width: 80%;
    height: 80%;
    max-width: 500px;

    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.261);
    border-radius: 10px;
  }
}
