*::before, *, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lexend', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

:root{
    --global-bg: #14141e;
}