.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--global-bg);

  .profilePhoto {
    position: fixed;
    width: 100px;
    height: 100px;

    top: 10px;
    left: 10px;

    border-radius: 60%;
    overflow: hidden;

    z-index: 100;
  }

  .impostors {
    display: flex;
    flex-wrap: wrap;

    border: 1px dashed rgba(255, 0, 0, 0.271);
    padding: 10px;
    margin: 10px 0;

    .btnCollection {
      background-color: var(--global-bg);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      margin-top: 7px;

      button {
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        height: fit-content;

        cursor: pointer;

        background-color: var(--global-bg);
        border: 1px solid rgb(255, 255, 255);
        color: #fff;

        &:hover {
          background-color: var(--global-bg);
          color: rgb(255, 0, 0);
          border: 1px solid rgb(255, 4, 4);
        }
      }
    }

    .impostor {
      background-color: rgba(0, 0, 0, 0.439);

      max-height: 300px;
      min-width: 300px;
      max-width: 45%;

      position: relative;
      color: rgb(136, 140, 146);

      margin: 10px 0;

      overflow-y: scroll;

      display: flex;
      flex-direction: column;

    width: 100%;


      &::-webkit-scrollbar {
        background-color: var(--global-bg);
        width: 5px;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: red;
        border-radius: 10px;
      }

      b {
        color: rgb(213, 22, 22);
        margin-bottom: 15px;
      }

      .impostorList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        a {
          text-decoration: none;
          color: #fff;
          width: 100%;
          height: fit-content;
          background-color: var(--global-bg);
          margin: 2px;

          &:hover {
            color: red;
            background-color: var(--global-bg);
          }
        }
      }
    }
  }

  .wrap {
    width: 100%;
    min-height: 200px;

    display: flex;
    position: relative;

    .wrapFlex {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      border: 1px solid rgba(255, 255, 255, 0.987);
      margin-bottom: 100px;

      .followers,
      .following {
        width: 100%;
        height: 100%;
        border-top: 1px solid #fff;

        display: flex;
        flex-direction: column;

        a {
          color: #fff;
          text-decoration: none;
          margin: 2px;
          background-color: rgb(22, 22, 22);

          &:hover {
            background-color: var(--global-bg);
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .container {
    .impostors {
      .btnCollection {
        width: 100%;
        display: flex;
        flex-direction: row;
        // background-color: rebeccapurple;
      }
      .impostor{
        min-width: 100%;
        max-width: 100%;
        width: 100%;
      }
    }

    .wrap{
      .wrapFlex{
        word-break: break-all;
        .followers a, .following a{
          word-break: break-all;
        }
      }
    }
  }
}
